.DS_Store
.idea
**/.DS_Store
*.db
__pycache__/
# /app_storage
/data
/models
notebooks/processed
notebooks/app_storage
output
app_storage/pdfs/processed/*
app_storage/chat_data*

temp
models/*
.ruff*
__pycache__