flagembedding==1.3.2
joblib==1.4.2
numpy==2.1.3
pandas==2.2.3
pdfplumber==0.11.4
Pillow==11.0.0
pymupdf==1.25.0
PyQt5==5.15.11
PyQt5_sip==12.15.0
PySide6==6.8.0
PySide6_Addons==6.8.0
PySide6_Essentials==6.8.0
Requests==2.32.3
sqlite_vec==0.1.6
tqdm==4.66.5
ultralytics==8.3.5
